*{


	padding: 0;

	margin: 0;

}



header {

	background-image: url("backgroundImages/aboutPageBackground.PNG");

	height: 100vh;

	background-size: cover;

	background-position: center;

}


h2 {

	font-family: "Roboto";
	font-size: 60px;
	color: black;
	text-align: center;

}

h3 {

	font-family: "Roboto";
	color: #8f8f8f;
	font-size:40px;
	text-align: center;

}

p{

	font-family: "Roboto";
	text-align: center;
}
#info{

	padding-top: 10px;

	margin-bottom: 35px;

}