*{

	padding: 0;
	margin: 0;
}

header {

	background-image: url("backgroundImages/contactUsPageBackground.PNG");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body {

	background-color: #2e2e2e;
}

.picture
{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	width: 200px;
	height: 240px;
}

.name
{
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 20px;
	color: #EEEEF1;
}

.function
{
	font-size: 20px;
	font-weight: bold;
	color: #ff3737;
	text-indent: 5px;
}

.functionDescription
{
	text-indent: 12px;
	text-align: left;
	color: #EEEEF1;
	font-size: 16px;
}

.person
{
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #141414;
	padding-top: 10px;
	width: 60%;
	float: center;
}

.companyText
{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%
}

.email
{
	color: #EEEEF1;
	font-size: 18px;
}

h2 {

	font-family: "Roboto";
	font-size: 60px;
	color: #ff3737;
	text-align: center;

}

h3 {

	font-family: "Roboto";
	color: #ff3737;
	font-size:40px;
	text-align:center;

}

p{

	font-family: "Roboto";
	text-align:center;
	padding: 5px;
	font-size: 20px;
	color:#EEEEF1;
}

hr
{
	margin: 0px 200px 0px 200px;
}