*{

	padding: 0px;
	margin: 0px;
}

header {

	background-image: url("HirefulCoverPhoto.PNG");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

body {

	background-color: #2e2e2e;
}

.content{

	text-align: center;
}

.contentbutton {

	text-decoration: none;
	border: 2px solid #EEEEF1;
	color:#EEEEF1;
	font-size: 25px;
	font-family: "Roboto";
	padding: 5px;
}

.contentbutton:hover {

	color: #999999;
	border: 2px solid #999999;
}

#signupimage {

	margin-top: 50px;
	height: 50%;
	width: 30%;
}

.review {

	color: gray;
	font-size:25px;
	font-style: italic;
	padding: 25px;
	color: #EEEEF1;

}

h2 {

	font-family: "Roboto";
	font-size: 60px;
	padding: 25px 50px 0px 50px;

}

h3 {

	font-family: "Roboto";
	color: #8f8f8f;
	font-size:40px;

}

p{

	font-family: "Roboto";
}

hr {

	margin-right: 200px;
	margin-left: 200px;
}
