*{

	padding: 0px;
	margin: 0px;
}

header {

	background-image: url("HirefulCoverPhoto.PNG");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.content{

	text-align: center;
}

.homehead{

	margin-top:100px;
	margin-bottom:100px;
}

.contentbutton {

	text-decoration: none;
	border: 2px solid black;
	color: black;
	font-size: 40px;
	font-family: "Roboto";
	padding: 10px;
}

.contentbutton:hover {

	box-shadow: 0 5px 5px #888888;
}
#signupimage {

	margin-top: 50px;
	height: 75%;
	width: 45%;
}

h2 {

	font-family: "Roboto";
	font-size: 60px;
	color: black;

}

h3 {

	font-family: "Roboto";
	color: #8f8f8f;
	font-size:40px;

}

p{

	font-family: "Roboto";
}

