.row {

	background-color:#adadad;
}

.main-nav {

	float: right;
	padding: 0px 0px 10px;
	margin-top: 0px;
}

.main-nav li{

	display: inline-block;
	padding: 10px 13px;
	margin-top: 10px; 
}

.main-nav li a {

	color: white;
	border: 1px solid white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Trebuchet MS Bold";
	border-radius: 5px;
}

.main-nav li a:hover {

}

.logo {

	height: 60px;
	width: 60px;
}

.row {

	background-color:#adadad;
}