.main-nav {

	float: right;
	padding: 0px 15px;
	margin-top: 15px;

}

.main-nav li{

	display: inline-block;
	padding: 10px 13px; 
}

.main-nav li a {

	color: black;
	border: 1px solid black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Trebuchet MS Bold";
}

.main-nav li a:hover {

	border: 1px solid white;
	color: white;
}