h1 {

}

button {

	background-color: lightgray ;
	height: 60px;
	width: 175px;
}

/*French button*/
#Bfrench {

	background-color: lightgray;
	height: 20px;
	width: 75px;
}

#membership {

	background-color: #7FFF00 ;
	height: 60px;
	width: 200px;

}

/*Company Logo*/
#I01 {

	height: 90px;
	width: 100px;
}